:root {
  --tp-theme-color: #0057fc;
  --tp-theme-color-2: #ffe815;
  --tp-theme-nblue: #001c52;
  --tp-heading-color: #0a0e1a;
  --tp-body-color: #57595c;
  --tp-common-black: #0a0e1a;
  --tp-black: #ffffff;
  --tp-white: #ffffff;
}
