@use "../utils/" as *;
.tp-btn {
  background: var(--tp-theme-color-2);
  font-size: 18px;
  color: var(--tp-common-black);
  font-family: var(--tp-fonts-heading);
  display: inline-block;
  padding: 21px 46px;
  border-radius: 5px;
}
